<article class="news-card">
  <div class="card-img">
    <img src="CSS/img/Cafe negro.png" alt="Cafe negro" class="cafe-negro" />
    <div class="card-overlay">
      <span class="card-footer">Clásico</span>
    </div>
  </div>

  <div class="card-content">
    <h3 class="card-title">Café negro</h3>
    <p class="card-parrafo">
      Puro, fuerte y directo al alma. Para los amantes del sabor real, sin vueltas. Un clásico que nunca falla.
    </p>
    <div class="card-footer">
      <span class="card-span">Es nuestro producto estrella</span>
      <a href="#" class="btn-secondary">Ver más</a>
    </div>
  </div>
</article>

<article class="news-card">
  <div class="card-img">
    <img src="CSS/img/Cafe Latte.png" alt="Cafe Latte" class="cafe-negro" />
    <div class="card-overlay">
      <span class="card-footer">Fashion</span>
    </div>
  </div>

  <div class="card-content">
    <h3 class="card-title">Café Latte</h3>
    <p class="card-parrafo">
Suave, cremoso y balanceado. El equilibrio perfecto entre café intenso y leche espumosa. Ideal para tardes tranquilas o charlas profundas.    </p>
    <div class="card-footer">
      <span class="card-span">Nuestro café más armonioso</span>
      <a href="#" class="btn-secondary">Ver más</a>
    </div>
  </div>
</article>

<article class="news-card">
  <div class="card-img">
    <img src="CSS/img/Cafe Capuccino.png" alt="Cafe Capuccino" class="cafe-negro" />
    <div class="card-overlay">
      <span class="card-footer">Inolvidable</span>
    </div>
  </div>

  <div class="card-content">
    <h3 class="card-title">Café Capuccino</h3>
    <p class="card-parrafo">
      Clásico entre clásicos. Con su espuma generosa y sabor envolvente, es una caricia en cada sorbo. Elegancia en taza.
    </p>
    <div class="card-footer">
      <span class="card-span">El favorito de los que saben</span>
      <a href="#" class="btn-secondary">Ver más</a>
    </div>
  </div>
</article>