<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3 class="cana-footer">Esto es Café Cana</h3>
      <p class="footer-parrafo">
        Gracias por acompañarnos en este recorrido.<br />
        Cada visita es una oportunidad para crear experiencias únicas y conscientes.
      </p>
    </div>

    <div class="footer-section">
      <h4>¡Contactanos!</h4>
      <p>Email: caffe-cana@gmail.com</p>
      <p>Teléfono: +598 98 234 420</p>
    </div>

    <div class="footer-section">
      <h4>¡Seguinos en nuestras redes!</h4>
      <a href="https://www.instagram.com/" aria-label="Instagram">💬</a>
      <a href="https://x.com/" aria-label="Twitter">🐦</a>
      <a href="https://www.youtube.com/?app=desktop&hl=es" aria-label="YouTube">📺</a>
    </div>
  </div>

  <div class="bottom-footer">
    <p>© 2025 Café Cana. Todos los derechos reservados.</p>
  </div>
</footer>