 <section id="hero" class="hero">
        <div class="hero-content">
            <img src="CSS/img/Sub logo cafecanna.jpeg" alt="logo-cafecanna" class="hero-img" />
            <h1 class="hero-title">
                <span class="title-main">CAFE CANNA</span>
                <span class="title-sub">Tu espacio ideal</span>
            </h1>
            <p class="parrafo">Los mejores cafe de Uruguay</p>
            <p class="parrafo-principal">Cafe cana, tu lugar para que te descubras
                mediante una experiencia unica para los amantes del cafe y las plantas.
            </p>
        </div>
    </section>